
<div class="container">
  <h1 class="d-flex justify-content-center">Angular10, Web API, SQL Server App Demo</h1>
  <h4 class="d-flex justify-content-center">Employee Management Portal</h4>

  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button routerLink="department"
        class="m-1 btn btn-light btn-outline-primary" Button>Departments</button>
      </li>
      <li class="nav-item">
        <button routerLink="employees"
        class="m-1 btn btn-light btn-outline-primary" Button>Employees</button>

      </li>


    </ul>

  </nav>

  <router-outlet></router-outlet>
</div>



