<button type="button" class="btn btn-primary float-right m-2" data-toggle="modal" data-target="#myModal" (click)="addClick()">
    Add Employee
  </button>
  
  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">{{ModalTitle}}</h4>
          <button type="button" class="close" data-dismiss="modal" (click)="closeClick()" >&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <app-add-edit-emp [emp]="emp" *ngIf="ActivateAddEditEmpComp"></app-add-edit-emp>
        </div>
  
      </div>
    </div>
  </div>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>EmployeeId</th>
        <th>EmployeeName</th>
        <th>Department</th>
        <th>DateOfJoining</th>
        <th>options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dataItem of EmployeeList">
        <td>{{dataItem.EmployeeId}}</td>
        <td>{{dataItem.EmployeeName}}</td>
        <td>{{dataItem.Department}}</td>
        <td>{{dataItem.DateofJoining}}</td>
        <td>
          <button type="button" class="btn btn-light mr-1"  data-toggle="modal" data-target="#myModal" 
          (click)="editClick(dataItem)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
          </svg>
          </button>
          <button type="button" class="btn btn-light mr-1"
          (click)="deleteClick(dataItem)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
              <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
            </svg>
          </button>
        </td>
  
      </tr>
    </tbody>
  
  </table>
  
  
  
